.frontPageIcon {
    color: rgb(8, 187, 97);
    animation: 2s infinite alternate ease-out breathing-color;
    filter: drop-shadow(0px 0px 50px rgb(31, 208, 119));
}

@keyframes breathing-color {
    from {
        color: rgb(8, 187, 97);
        filter: drop-shadow(0px 0px 20px rgb(8, 187, 97));
    }
    to {
        color: rgb(198, 250, 224);
        filter: drop-shadow(0px 0px 50px rgb(155, 252, 204));
    }
}