.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #191b29;
}

.firstContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(8, 185, 97);
    flex-wrap: wrap;
    gap: 10px;
}

.firstContainer:hover {
    color: rgb(155, 252, 204);

}

.secondContainer {
    display: flex;
    color: rgb(233, 105, 192);
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.iconsContainer {
    display: flex;
    gap: 5px;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    color: #ff8e00;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 1s;
}

.iconContainer:hover {
    cursor: pointer;
    color: white;
}

.logoContainer {
    display: flex;
    color: #00f0b5
}

.email {
    color: #848282;
}

.email p {
    margin: 0;
}